.answers-container{
    display:flex;
    padding:5px 30px;
    color:white;
}

.answer-button{
    background:purple;
    font-family: "karla", sans-serif;
    color:white;
    border: solid 2px white;
    border-radius:10px;
    padding: 5px 10px;
    margin-right: 20px;
    font-size:20px;
}

.selected{
    background:green !important;
}

.wrong{
    background:red !important;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@media (max-width: 768px) {
    .answers-container{
        padding:0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .answer-button{
        font-size:14px;
        margin:0;
    }
}

  